<div class="col-xs-10 col-xs-offset-1 about">
		<h1>About Splurty</h1>

		<p>
			Splurty was built by <a target="_blank" href="https://github.com/ieric01">
			Eric Orellana</a>. He is currently learning ruby on rails, and actually built this site in his first week at <a target="_blank" href="http://www.thefirehoseproject.com/">thefirehoseproject</a>.
		</p>

		<br />

	<div class = "col-xs-12 col-sm-4" >
		<%= image_tag 'eric.jpg', :class => 'img-responsive' %>
	</div>

	<div class = "col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Eric Orellana</h2>
		<p>
			I am a web developer, who enjoys translating my ideas into something I can share with others. When I'm not coding, I enjoy juggling, reading, meditating, taking on challenges such as cold showers or speedreading and solving sudoku puzzles. I enjoy learning new skills, and utilizing my skills to produce amazing things!
		</p>
	</div>

</div><!-- end of main col -->
<br class="clear" />
<br />
<br />
<br />
<br />
